.chat-message {
  .hit-type {
    &-complication {
      color: @complication-color;
    }
    &-miss {
      color: @fail-color;
    }
    &-weak-hit {
      color: @weak-hit-color;
    }
    &-strong-hit {
      color: @strong-hit-color;
    }
    &-oportinity {
      color: @oportunity-color;
    }
  }
  .action-die, .challenge-dice {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #CCCCCC;
    padding: .2rem .4rem;

    .dice-formula,
    .dice-total {
      background-color: #eee;
    }

    .hit-type {
      font-size: 20px;
      font-weight: bold;
      font-variant: all-small-caps;
    }

    .roll {
      width: 24px;
      line-height: 24px;
      display: inline-block;
      margin-right: 1px;
      background-image: url("/icons/svg/d6-grey.svg");
      background-repeat: no-repeat;
      background-size: 24px 24px;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      position: relative;

      &.strike {
        &:before {
          content: "|";
          position: absolute;
          transform: rotate(45deg);
          left: 9px;
        }
      }
    }

    .roll.d4 {
      background-image: url("/icons/svg/d4-grey.svg");
    }

    .roll.d6 {
      background-image: url("/icons/svg/d6-grey.svg");
    }

    .roll.d8 {
      background-image: url("/icons/svg/d8-grey.svg");
    }

    .roll.d10 {
      background-image: url("/icons/svg/d10-grey.svg");
    }

    .roll.d12 {
      background-image: url("/icons/svg/d12-grey.svg");
    }

    .roll.d20 {
      background-image: url("/icons/svg/d20-grey.svg");
    }

    .roll.min {
      color: #aa0200;
      filter: sepia(0.5) hue-rotate(-60deg);
    }

    .roll.max {
      color: #18520b;
      filter: sepia(0.5) hue-rotate(60deg);
    }
  }
}
