@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v14/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-6_RUAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Texturina';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/texturina/v2/c4mM1nxpEtL3pXiAulRTkY-HGmNEX1b9NspjMwhAgliHhVrXy2eYGvUg.ttf) format('truetype');
}
@font-face {
  font-family: 'Texturina';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/texturina/v2/c4mM1nxpEtL3pXiAulRTkY-HGmNEX1b9NspjMwhAgliHhVrXy2eqGvUg.ttf) format('truetype');
}
@font-face {
  font-family: 'Texturina';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/texturina/v2/c4mM1nxpEtL3pXiAulRTkY-HGmNEX1b9NspjMwhAgliHhVrXy2dGHfUg.ttf) format('truetype');
}
.chat-message .hit-type-complication {
  color: crimson;
}
.chat-message .hit-type-miss {
  color: red;
}
.chat-message .hit-type-weak-hit {
  color: #03fd6b;
}
.chat-message .hit-type-strong-hit {
  color: #009933;
}
.chat-message .hit-type-oportinity {
  color: goldenrod;
}
.chat-message .action-die,
.chat-message .challenge-dice {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #CCCCCC;
  padding: 0.2rem 0.4rem;
}
.chat-message .action-die .dice-formula,
.chat-message .challenge-dice .dice-formula,
.chat-message .action-die .dice-total,
.chat-message .challenge-dice .dice-total {
  background-color: #eee;
}
.chat-message .action-die .hit-type,
.chat-message .challenge-dice .hit-type {
  font-size: 20px;
  font-weight: bold;
  font-variant: all-small-caps;
}
.chat-message .action-die .roll,
.chat-message .challenge-dice .roll {
  width: 24px;
  line-height: 24px;
  display: inline-block;
  margin-right: 1px;
  background-image: url("/icons/svg/d6-grey.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.chat-message .action-die .roll.d4,
.chat-message .challenge-dice .roll.d4 {
  background-image: url("/icons/svg/d4-grey.svg");
}
.chat-message .action-die .roll.d6,
.chat-message .challenge-dice .roll.d6 {
  background-image: url("/icons/svg/d6-grey.svg");
}
.chat-message .action-die .roll.d8,
.chat-message .challenge-dice .roll.d8 {
  background-image: url("/icons/svg/d8-grey.svg");
}
.chat-message .action-die .roll.d10,
.chat-message .challenge-dice .roll.d10 {
  background-image: url("/icons/svg/d10-grey.svg");
}
.chat-message .action-die .roll.d12,
.chat-message .challenge-dice .roll.d12 {
  background-image: url("/icons/svg/d12-grey.svg");
}
.chat-message .action-die .roll.d20,
.chat-message .challenge-dice .roll.d20 {
  background-image: url("/icons/svg/d20-grey.svg");
}
.chat-message .action-die .roll.min,
.chat-message .challenge-dice .roll.min {
  color: #aa0200;
  filter: sepia(0.5) hue-rotate(-60deg);
}
.chat-message .action-die .roll.max,
.chat-message .challenge-dice .roll.max {
  color: #18520b;
  filter: sepia(0.5) hue-rotate(60deg);
}
.ironsworn {
  /* Sheet Tabs */
  /* Items List */
  /* Attributes */
}
.ironsworn .item-controls {
  flex: 0;
  padding-right: 20px;
}
.ironsworn .sheet-main {
  margin-bottom: 1rem;
  flex-grow: 0;
}
.ironsworn .sheet-area {
  margin-top: 0.5rem;
}
.ironsworn .sheet-area h1,
.ironsworn .sheet-area h2,
.ironsworn .sheet-area h3 {
  border: none;
}
.ironsworn .sheet-area h1 {
  text-align: right;
  font-weight: 500;
  border-bottom: 2px solid #CCCCCC;
  margin-bottom: 1rem;
}
.ironsworn .sheet-area.debilities .checkbox {
  display: block;
}
.ironsworn.sheet .sheet-progress {
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}
.ironsworn.sheet .sheet-progress > * {
  flex: 0 0;
}
.ironsworn.sheet .sheet-progress-input {
  min-width: 40px;
  width: 40px;
  height: 40px;
  padding: 2px;
  border: 2px solid #4c4d4f;
  margin-right: 4px;
  position: relative;
}
.ironsworn.sheet .sheet-progress-input.mark-1 .mark:nth-child(1) {
  display: block;
}
.ironsworn.sheet .sheet-progress-input.mark-2 .mark:nth-child(1) {
  display: block;
}
.ironsworn.sheet .sheet-progress-input.mark-2 .mark:nth-child(2) {
  display: block;
}
.ironsworn.sheet .sheet-progress-input.mark-3 .mark:nth-child(1) {
  display: block;
}
.ironsworn.sheet .sheet-progress-input.mark-3 .mark:nth-child(2) {
  display: block;
}
.ironsworn.sheet .sheet-progress-input.mark-3 .mark:nth-child(3) {
  display: block;
}
.ironsworn.sheet .sheet-progress-input.mark-4 {
  background: #CCC;
}
.ironsworn.sheet .sheet-progress-input.mark-4 .mark:nth-child(1) {
  display: block;
}
.ironsworn.sheet .sheet-progress-input.mark-4 .mark:nth-child(2) {
  display: block;
}
.ironsworn.sheet .sheet-progress-input.mark-4 .mark:nth-child(3) {
  display: block;
}
.ironsworn.sheet .sheet-progress-input.mark-4 .mark:nth-child(4) {
  display: block;
}
.ironsworn.sheet .sheet-progress-input .mark {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 34px;
  height: 34px;
  text-align: center;
  content: "|";
  line-height: 32px;
  font-size: 22px;
  transform: rotate(-45deg);
  display: none;
}
.ironsworn.sheet .sheet-progress-input .mark:nth-child(2) {
  transform: rotate(45deg);
}
.ironsworn.sheet .sheet-progress-input .mark:nth-child(3) {
  transform: rotate(90deg);
}
.ironsworn.sheet .sheet-progress-input .mark:nth-child(4) {
  transform: rotate(180deg);
}
.ironsworn.sheet input[type='text'],
.ironsworn.sheet input[type='number'] {
  background: none;
  border-color: transparent;
}
.ironsworn.sheet.item header.sheet-header h1 input {
  margin-right: 0;
}
.ironsworn.sheet header.sheet-header {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
  flex: 0 0 auto;
}
.ironsworn.sheet header.sheet-header .profile-img {
  flex: 0 0 50px;
  height: 50px;
  margin-right: 10px;
}
.ironsworn.sheet header.sheet-header .header-fields {
  flex: 1;
  height: 100px;
}
.ironsworn.sheet header.sheet-header h1.charname {
  flex-grow: 1;
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.ironsworn.sheet header.sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.ironsworn.sheet header.sheet-header .xp {
  flex: 0;
  min-width: 50px;
  border: 1px solid black;
  padding: 0.2rem;
}
.ironsworn .margin-left {
  flex: 0;
  border-right: 1px solid black;
  margin-right: 5px;
  padding-right: 25px;
  position: relative;
}
.ironsworn .margin-right {
  flex: 0;
  border-left: 1px solid black;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 25px;
  position: relative;
}
.ironsworn .margin-right h4.vertical {
  left: 83px !important;
}
.ironsworn h4 {
  font-size: 22px;
}
.ironsworn .move-list {
  overflow-y: scroll;
  max-height: 400px;
}
.ironsworn .move-list .move {
  overflow-x: hidden;
}
.ironsworn .move-list h3 {
  flex-grow: 0;
  text-align: center;
  border-width: 1px 0;
  border-color: white;
  background-color: #aaa;
  color: white;
}
.ironsworn .move-list ol {
  list-style: none;
  margin: 0 0 0.5rem;
  padding: 0;
}
.ironsworn .stack {
  margin-bottom: 20px;
  flex-grow: 0;
}
.ironsworn .stack h4.vertical {
  transform: rotate(90deg);
  transform-origin: 0 0;
  float: right;
  position: absolute;
  left: 78px;
  padding-left: 5px;
}
.ironsworn .stack .stack-row {
  flex: 0 0 auto;
  width: 50px;
  border: 1px solid black;
  margin-bottom: -1px;
  text-align: center;
  line-height: 28px;
  font-size: 18px;
}
.ironsworn .stack .stack-row input[type="radio"] {
  appearance: none;
}
.ironsworn .clickable {
  transition: 0.5s ease;
  cursor: pointer;
}
.ironsworn .clickable.block:hover {
  background: #ccc;
  transition: 0.5s ease;
}
.ironsworn .clickable.block:active {
  background: #aaa;
  transition: 0.2s ease;
}
.ironsworn .clickable.text:hover {
  color: #ccc;
  transition: 0.5s ease;
}
.ironsworn .clickable.text:active {
  color: #aaa;
  transition: 0.2s ease;
}
.ironsworn .clickable.selected {
  color: white;
  background: black;
}
.ironsworn .stats {
  flex: 0;
  justify-content: space-around;
}
.ironsworn .stats .stat {
  flex: 0 0 100px;
  border: 1px solid black;
  text-align: center;
}
.ironsworn .stats .stat h3 {
  margin: 0;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 22px;
}
.ironsworn .stats .stat h4 {
  margin: 0;
  font-weight: bold;
}
.ironsworn .stats .stat input {
  width: 50%;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.ironsworn .stats .edit {
  flex: 0 0 30px;
  justify-items: center;
  align-items: center;
  border: 1px solid black;
  transition: 0.5s ease;
}
.ironsworn .stats .edit.editing {
  background: gray;
}
.ironsworn .stats .edit h4 {
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.ironsworn .inset {
  margin: 5px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 3px;
}
.ironsworn .remove-option {
  flex-grow: 0;
  line-height: 26px;
}
.ironsworn .move-row {
  border: 1px solid black;
  border-radius: 2px;
  padding: 3px;
  margin: 3px 0;
}
.ironsworn .resource {
  width: 50%;
  height: 40px;
  margin-top: 10px;
  float: left;
  text-align: center;
}
.ironsworn .resource input {
  width: 100px;
  height: 28px;
}
.ironsworn .tabs {
  height: 40px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}
.ironsworn .tabs .item {
  line-height: 40px;
  font-weight: bold;
}
.ironsworn .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}
.ironsworn .move-li {
  height: 1.5rem;
}
.ironsworn .item-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
}
.ironsworn .item-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #bbb;
}
.ironsworn .item-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
}
.ironsworn .item-list .item-name {
  margin: 0;
}
.ironsworn .item-list .item-controls {
  flex: 0 0 36px;
}
.ironsworn .attributes-header {
  padding: 5px;
  margin: 5px 0;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #aaa;
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
}
.ironsworn .attributes-header .attribute-label {
  flex: 1.5;
}
.ironsworn .attributes-header .attribute-control {
  flex: 0 0 20px;
}
.ironsworn .attributes-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ironsworn .attributes-list li > * {
  margin: 0 3px;
  height: 28px;
  line-height: 24px;
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #aaa;
}
.ironsworn .attributes-list a.attribute-control {
  flex: 0 0 20px;
  text-align: center;
  line-height: 28px;
  border: none;
}
.item.sheet .asset.actor .asset-ability {
  cursor: pointer;
}
.item.sheet .asset.actor .asset-ability:not(.ability-enabled) {
  font-style: italic !important;
  color: #A6A6A6;
}
.item.sheet .asset .tox-tinymce {
  height: 250px !important;
}
.item.sheet .asset-field {
  align-items: center;
}
.item.sheet .asset-field label {
  flex-grow: 0;
  padding-right: 0.5rem;
}
.item.sheet .asset .asset-abilities {
  margin: 0.5rem;
}
.item.sheet .asset .asset-abilities .asset-ability {
  border-top: 1px solid #CCCCCC;
  padding: 0.5rem 0;
}
.item.sheet .asset .asset-abilities .asset-ability .editor {
  min-height: 50px;
}
.item.sheet .asset .asset-abilities .asset-ability:last-child {
  border-bottom: 1px solid #CCCCCC;
}
.ironsworn .window-content {
  font-family: 'EB Garamond';
  font-size: 16px;
}
.ironsworn .window-content h1,
.ironsworn .window-content h2,
.ironsworn .window-content h3,
.ironsworn .window-content h4,
.ironsworn .window-content h5,
.ironsworn .window-content h6 {
  font-family: 'Texturina';
}
.ironsworn .window-content {
  background: #eee;
  height: 100%;
  padding: 5px;
  overflow-y: scroll;
}
.ironsworn.sheet.actor {
  min-width: 560px;
  min-height: 420px;
}
.ironsworn.sheet.item {
  min-width: 460px;
  min-height: 400px;
}
.move-title {
  text-align: center;
  background: #eee;
  border: 1px solid #999;
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  font-variant: all-small-caps;
}
