@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Texturina:wght@400;500;600&display=swap');
@import "settings";
@import "components/chat";
@import "components/sheets";
.ironsworn {
  .window-content {
    font-family: 'EB Garamond';
    font-size: 16px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: 'Texturina';
    }
  }

  .window-content {
    background: #eee;
    height: 100%;
    padding: 5px;
    overflow-y: scroll;
  }

}


.ironsworn.sheet.actor {
  min-width: 560px;
  min-height: 420px;
}

.ironsworn.sheet.item {
  min-width: 460px;
  min-height: 400px;
}

.move-title {
  text-align: center;
  background: #eee;
  border: 1px solid #999;
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  font-variant: all-small-caps;
}

.ironsworn-roll {

}
